@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: #FFFFFF;
  background: #010103;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slick-next::before{
  content: none !important;
}
.slick-prev::before{
  content: none !important;
}